node_modules/

.vite/
dist/
build/

.env
.env.*
.env.example

.gitignore

*.lock
bun.lockb

.prettierrc
.prettierignore

*.md
*.json
*.yml
*.yaml

*.html

tailwind.config.*
postcss.config.*

*.log
logs/