* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

body {
  background-color: #341c54;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f7;
  font-size: 14px;
}

.logo {
  filter: drop-shadow(1px 1px 10px skyblue);
  height: 40%;
  width: 40%;
}

.right-container {
  border: 1px solid white;
  box-shadow: 0px 8px 20px skyblue;
  border-radius: 34px;
  background-color: #f5f5f7;
  height: 70%;
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1d1d1f;
}

.login-title {
  color: #341c54;
  font-weight: bolder;
  margin: 7%;
}

.username-input,
.password-input {
  border-radius: 34px;
  font-size: 14px;
  font-weight: bolder;
  width: 75%;
  margin: 4%;
  padding: 14px;
}

.forgot-password {
  font-size: 16px;
  font-weight: bolder;
  color: #341c54;
  cursor: pointer;
  margin-top: 10%;
  margin-bottom: 10%;
}

.login-button,
.signup-button {
  background-color: #341c54;
  font-size: 14px;
  font-weight: bolder;
  color: #f5f5f7;
  border-radius: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  width: 120px;
  margin: 10px;
}

.signup-button {
  background-color: #d80f1a;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  .left-container {
    font-size: 12px;
  }

  .right-container {
    height: 55%;
    width: 85%;
  }
}
